/* === Design Tokens === */
:root {
  --font-title: 'Raleway', sans-serif;
  --font-body: 'Roboto', sans-serif;

  --color-text-dark: #1f2223;
  --color-text: #4a5759;
  --color-light: #f5f3f4;
  --color-lightest: #f8f9fa; ;
  --color-mid: #e9ecef;

  --radius-sm: 0.25rem;   /* 4px */
  --radius-md: 0.5rem;    /* 8px */
  --radius-lg: 1rem;      /* 16px */
  --radius-xl: 1.5rem;    /* 24px */
  --radius-xxl: 2rem;     /* 32px */

  --space-xs: 0.25rem;    /* 4px */
  --space-sm: 0.5rem;     /* 8px */
  --space-md: 1rem;       /* 16px */
  --space-lg: 2rem;       /* 32px */
  --space-xl: 3rem;       /* 48px */
  --space-xxl: 4.5rem;    /* 72px */
  --space-xxxl: 6rem;     /* 96px */

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem;   /* 16px */
  --font-size-lg: 1.25rem;  /* 20px */
  --font-size-title: 3rem; /* 48px */

  --button-size-sm: 1.5rem; /* 24px */
  --button-size-md: 2rem;   /* 32px */
  --button-size-lg: 2.5rem; /* 40px */
  --button-size-xl: 3rem;   /* 48px */
  --button-size-xxl: 4rem; /* 64px */
  --button-size-xxxl: 6rem; /* 96px */
  --button-size-xxxxl: 8rem; /* 128px */
  --button-size-xxxxxl: 10rem; /* 160px */


  --number-of-days: 7; /* Default fallback value */
}



/* === Global Resets === */
html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--color-lightest);
}

body {
  background-color: var(--color-lightest);
  color: var(--color-text);
}

/* === Typography Utility === */
h1, h2, h3 {
  color: var(--color-text-dark);
  margin: 0;
}
p {
  font-size: var(--font-size-base);
  color: var(--color-text);
}

/* === Scrollbar Styling === */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: var(--radius-md);
  background: var(--color-lightest);
}
::-webkit-scrollbar-thumb {
  border-radius: var(--radius-md);
  background: var(--color-text);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-light);
}


.background-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0) 30%), url('/assets/images/home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* === Angular Material Overrides === */

.mat-toolbar {
  background-color: var(--color-text);
  color: var(--color-text);
}



.country-menu, .city-menu, .arrival-menu {
  background-color: var(--color-lightest) !important;
  color: var(--color-text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 20rem;
  direction: rtl;
}

.country-menu button, .city-menu button, .arrival-menu button {
  background-color: var(--color-lightest);
  color: var(--color-text);
  font-size: var(--font-size-sm);
  padding: var(--space-xs) var(--space-sm);
  font-family: var(--font-body), serif;
  border: none;
  direction: ltr;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.when-menu {
  background-color: var(--color-lightest) !important;
  color: var(--color-text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 20rem;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}

.mat-calendar {
  background-color: var(--color-lightest) !important;
  color: var(--color-text) !important;
  font-family: var(--font-body), serif !important;
  overflow: hidden;
  font-size: var(--font-size-sm) !important;
}

.mat-datepicker-content .mat-calendar {
  height: auto !important;
}

.mat-calendar-body-in-range::before {
  background-color: var(--color-text) !important;
}

.mat-calendar-body-today {
  border-width: 2px !important;
}


.mat-drawer {
  border:none !important;
}

.mat-drawer-content {
  width: var(--button-size-lg) !important;
}

.mdc-button {
  min-width: 0 !important;
}


.drag-preview-chip {
  height: var(--button-size-xxl);
  width: var(--button-size-xxxl);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-family: var(--font-body), serif;
  font-size: var(--font-size-sm);
  text-align: center;
  background-color: var(--color-lightest);
  border: 2px solid var(--color-text);
  border-radius: var(--radius-lg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
