.attractions-bank-header{
  font-size: var(--font-size-lg);
  color: var(--color-text-dark);
  font-weight: 500;
  width: 100%;
  text-align: left;
  margin: var(--space-sm) 0;
}

.attractions-bank-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  direction: rtl;
  padding: var(--space-md);
  background-color: var(--color-lightest);

}

.attractions-bank-columns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);

}

.attractions-bank-columns{
  text-align: left
}

.attractions-bank-chips-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;

}

.mat-mdc-chip{
  border: none !important;
}



.attractions-bank-chip {
  width: fit-content;
  height: fit-content;
  z-index: 1;
  border: none !important;
}



 .category-museum {
  background-color: #f0f0f5 !important;
}
.category-landmark {
  background-color: #fdf1f2 !important;
}
.category-nature{
  background-color: #e9f3e4 !important;
}
.category-entertainment {
  background-color: #ede7f6 !important;
}
.category-cultural {
  background-color: #f8e6cc !important;
}

.attraction-info {
  max-width: var(--button-size-xxxxxl);
  z-index: 2; /* make sure text is above the image */
  position: relative;
  white-space: normal; /* Allow text to wrap */
  word-break: break-word; /* Break long words if necessary */
  word-wrap: break-word; /* Ensure compatibility with older browsers */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-sm);

}

.attraction-image-and-name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--space-sm);
}

.attraction-image-and-name-wrapper h6 {
  padding-right: var(--space-sm);
}



.attraction-image{
  width: var(--font-size-lg);
  margin-right: auto;

}

.attractions-bank-chip h6 {
  font-size: var(--font-size-sm);
  text-align: center;
  margin: 0;
  font-weight: normal;
}



.attraction-category-card-container {
  position: absolute; /* Anchor to the bottom-right of the chip */
  bottom: 10px;
  right: 0px;
  height: fit-content;
  width: 90px;
  z-index: 2; /* Ensure it appears above the image */
  pointer-events: none; /* Avoid hover/click interference */
}

.attraction-description {
  opacity: 0;
  max-height: 0; /* Start with no height */
  transition: opacity 0.3s ease;
  font-size: var(--font-size-xs);
  text-align: center;
  color: var(--color-text);
  margin: 0;
  margin-top: var(--space-xs);
  direction: ltr;
}

.attractions-bank-chip:hover .attraction-description {
  opacity: 1;
  max-height: 100px; /* or however tall you want it to grow */

}

.drag-hidden {
  opacity: 0;
  pointer-events: none;
}



