
<mat-card class="attractions-bank-container">
  <div class="attractions-bank-header">
    Attractions Bank
  </div>
  <div class = "attractions-bank-columns-container">
    <div class ="attractions-bank-columns" *ngFor="let category of getCategories()">
      {{ category }}
      <div class="attractions-bank-chips-container"
      cdkDropList
      id="attractionsBank"
      [cdkDropListData]="getAttractionsByCategory(category)"
      [cdkDropListConnectedTo]="getConnectedDropLists()">
        <mat-basic-chip
          class="attractions-bank-chip"
          [ngClass]="['category-' + category.toLowerCase(),
            draggingAttractionName === attraction.name ? 'drag-hidden': '']"
          *ngFor="let attraction of getAttractionsByCategory(category)"
          cdkDrag
          [cdkDragData]="attraction"
          (cdkDragStarted)="onDragStarted($event)"
          (cdkDragEnded)="onDragEnded($event)">
          <ng-template cdkDragPlaceholder>
          </ng-template>
          <ng-template cdkDragPreview>
            <div class="drag-preview-chip category-{{ category.toLowerCase() }}">
                 {{ attraction.name }}
            </div>
          </ng-template>
        <div class="attraction-info">
          <div class="attraction-image-and-name-wrapper">
            <h6>{{ attraction.name }}</h6>
            <img class="attraction-image"
                 src="./assets/attractions-icons/{{ attraction.category }}.png"
                 >
          </div>
          <div class="attraction-description-wrapper">
            <p class="attraction-description">{{ attraction.description }}</p>
          </div>
        </div>

        </mat-basic-chip>
      </div>
    </div>
  </div>
</mat-card>
